body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: arial,sans-serif;    
}

.container, .upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    margin: 25% auto;
}

.upload-container {
    margin: 10% auto;
}

.container .form {
    margin: 3rem;
    width: 50%;
}

.text {
    font-size: 3rem;
    color: #03a691;
    margin: 15px;
}

.small-text {
    font-size: 1rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    margin: 15px;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 100px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 100px;
    transition: .5s;
    -webkit-transition: .5s;
}

.slider:before {
    position: absolute;
    left: 10px;
    bottom: 10px;
    content: "";
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transition: .5s;
    -webkit-transition: .5s;
    background-color: #fff;
}

input:checked + .slider {
    background-color: #03a691;
}

input:checked + .slider:before {
    -webkit-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px);
}

.browser {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    padding: 3px 10px 3px 3px;
    position: relative;
    width: auto;
    cursor: pointer;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.browser input[type="file"] {
    display: input-block;
    width: 100%;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
}

.browser-button,
.button {
    background-color: white;
    border-radius: 20px;
    color: #444;
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid #444;
}

.browser-button {
    margin-right: 5px;
    width: auto;
    box-sizing: content-box;
    min-height: 29px;
}

.button {
    margin-top: 20px;
    min-width: 200px;
    height: 30px;
}

.browser:hover .browser-button,
.button:hover {
    background-color: #D6F4F0;
    color: #028474;
    border: 1px solid #028474;
    cursor: pointer;
}

.file-name {
    font-size: 12px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .container { 
        margin: 10% auto;
    }

    .text {
        font-size: 2rem;
    }
    
    .switch {
        width: 90px; 
        height: 50px;
    }

    .slider {
        border-radius: 50px;
    }

    .slider:before {
        left: 5px;
        bottom: 5px;
        width: 40px;
        height: 40px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        transform: translateX(40px);
    }
}